header{
    text-align: center;
    text-transform: uppercase;
}


.main-block-en{

    /* margin: 60px 67px; */
    display: flex;
    flex-direction: column;
    /* justify-content: stretch; */
    justify-content: flex-start;
    /* align-items:center; */
    row-gap: 30px;

    margin: 40px 67px;
    /* column-gap: 35px; */
}


.image-left {
    float: left;
    margin-right: 25px;
}
    
.image-right {
    float: right;
    margin-left: 25px;
}




h2{
    font-size: xx-large;
}

img {
  

    height:auto;
    max-width: 400px;
    object-fit: cover;
    /* vertical-align: bottom; */
}


@media (max-aspect-ratio: 1/1) {
    li {
      height: 30vh;
    }
  }
  
  
@media (max-height: 480px) {
    li {
        height: 80vh;
    }   
}


  
  @media (max-aspect-ratio: 1/1) and (max-width: 480px) {
    ul {
      flex-direction: row;
    }
  
    li {
      height: auto;
      width: 100%;
    }
    img {
      width: 100%;
      max-height: 75vh;
      min-width: 0;
    }
  }